<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">

    <style>
        body { padding-top:15px; background-color: rgb(53, 144, 156);  background-image: url('https://libshelflife.files.wordpress.com/2014/11/blackboard-equations-728x242.jpg'); background-attachment: fixed}
        img { width: 100%;}
        
    </style>
  

</head>
<body>
    <% include partials/menu.ejs %>

    <div class="container">
        <% if (title) { %>
            <h2 class="panel panel-danger text-center" style="color:blue"><%= title %></h2>
        <% } %>
        <div class="panel panel-danger">
            <div class="panel panel-heading text-center">
                <h1>HOME</h1>
            </div>
            <div class="panel-body" id="all">

                <% if (message) { %>
                    <div class="alert alert-success" role="alert">
                        <%= message %>
                    </div>
                <% } %> 
                <%if (logedIn == false){%>
                    <a href="/sign_in"><button type="button" name="button" class="log_button"><p>Log In</p></button></a>
                  <%}else{%>
                    <a href="/sign_out"><button type="button" name="button" class="log_button"><p>Log Out</p></button></a>
                  <%}%>

                <a href="/create">
                    <div class="col-xs-6 col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="https://png.icons8.com/ios/1600/add.png">
                            </div>
                            <div class="panel-footer">
                                New post
                            </div>
                        </div>
                    </div> 
                </a>

                <% pokemon.pokemon.forEach(function(poke){ %>
                    <a href="/view/<%-poke.id %>">
                        <div class="col-xs-6 col-md-2">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                        <%-poke.name %>

                                    <img src="<%-poke.image %>">
                                </div>
                                <div class="panel-footer">
                                    <p>read more</p>
                                </div>
                            </div>
                        </div> 
                    </a>
                <% }); %>   

            </div>
             <!-- if there is no cookie show this -->
        <% if(cookieWarning == false){%>
            <div id="cookie">
                    <figure>
                      <!-- <img src="/images/cookie.gif_c200" alt=""> -->
                    </figure>
                    <h4>Want a Cookie?</h4>
                    <p>This web site uses cookies to save user data and improve your experience!</p>
                    <form  method="post">
                      <button type="submit" name="button"><p>Confirm</p></button>
                    </form>
                  </div>
          <%}%>
            <div class="panel-footer text-center">
                <p>All rights reserved 2018 | JM.</p>
            </div>
        </div>
    </div>

</body>
</html>