<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App</title>
    

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">

    <style>
        body { padding-top:15px; background-color: #222222;}
        img { width: 100%;}
        
    </style>
    <% include partials/head.ejs %>
  

</head>
<body>
    <% include partials/menu.ejs %>

    <div class="container">
        <% if (title) { %>
            <h2><%= title %></h2>
        <% } %>
        <div class="panel panel-danger">
            <div class=" text-center text-white bg-dark">
                <h1>HOME</h1>
            <!-- <h2>share Your Interesting Facts About Mathematics</h2> -->

            </div>
            <div class="panel-body" id="all">

                <% if (message) { %>
                    <div class="alert alert-success" role="alert">
                        <%= message %>
                    </div>
                <% } %> 
                

                <a href="/create">
                    <div class="col-xs-6 col-md-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="https://png.icons8.com/ios/1600/add.png">
                            </div>
                            <div class="panel-footer">
                                New post
                            </div>
                        </div>
                    </div> 
                </a>

                <% pokemon.pokemon.forEach(function(poke){ %>
                    <a href="/view/<%-poke.id %>">
                        <div class="col-md-4 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                        <%-poke.name %>

                                    <img src="<%-poke.image %>">
                                </div>
                                <div class="panel-footer">
                                    <p>read more</p>
                                </div>
                            </div>
                        </div> 
                    </a>
                <% }); %>   

            </div>
             <!-- if there is no cookie show this -->
       
            <div class="panel-footer text-center">
                <p>All rights reserved 2018 | JM.</p>
            </div>
        </div>
    </div>

</body>
</html>